h1 {
    font-family: "Impact"; 
    font-size: 40px;
}

h2{
    font-family: "American Typewriter";  
    font-size: 20px; 
}

a, td, th, label, tr, button, input {
    font-family: "American Typewriter";
}